
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "DenizliHS", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if management_signed_in? %>
          <li><%= link_to 'Sign out', destroy_management_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_management_session_path, class: "active" %></li>
        <% end %>
        <li><%= link_to 'KartSim', new_simulation_path, class: "active" %></li>
      </ul>

      <%= search_form_for @q, url: search_members_path, html: { method: :post }, class: "navbar-form navbar-right"  do |f| %>
<div class="field">
  <%= f.label :cardId_eq %> 
  <%= f.text_field :cardId_eq %>
  <div class="btn btn-default"> <%= f.submit "Üye Ara" %> </div>
  </div>
  
  
<% end %>
           
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

