<%= form_for member, html: { multipart: true } do |f| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :cardId, "Kart ID" %>
    <%= f.number_field :cardId, placeholder: "Kart ID giriniz", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, "E-Mail" %>
    <%= f.text_field :email, placeholder: "Email adresinizi giriniz",class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name, "İsim" %>
    <%= f.text_field :name, placeholder: "Adınızı giriniz", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :lastname, "Soyisim" %>
    <%= f.text_field :lastname, placeholder: "Soyadınızı giriniz", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Fotoğraf" %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= f.submit "Kayıt Ol" %>
  </div>
<% end %>
