<p id="notice"><%= notice %></p>

<% if @member.email == "tkent@dhs.com" %>
<h1>Members</h1>
<div class="row">
  <% @members.each do |member| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag member.image.url(:medium), class: 'image'), member %>
        <div class="caption">
          <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Member Name:</strong></td>
                <td></td>
                <td><%= member.name %></td>
              </tr>
              <tr>
                <td><strong>Member Lastname:</strong></td>
                <td></td>
                <td><%= member.lastname %></td>
              </tr>
              <tr>
                <td><strong><%= link_to 'Show', member %></strong></td>
                <td><strong><%= link_to 'Edit', edit_member_path(member) %></strong></td>
                <td><strong><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></strong></td>
              </tr>
            </tbody>
          </table>
         </div>
      </div>
      </div>
    </div>
  <% end %>
</div>

<% else %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table id="table" class="table table-bordered">

      <tr class="active">
          <th>KartId</th>
          <th>E-Mail</th>
          <th>İsim</th>
          <th>Soyisim</th>
          <th>Onayla</th>
      </tr>

    <% @cMembers.each do |cMember| %>
      <tr class="success">
          <td><%= cMember.id %></td>
          <td><%= cMember.email %></td>
          <td><%= cMember.name %></td>
          <td><%= cMember.lastname %></td>
          <td><%= link_to 'like', member_asd_path(cMember)%></td>
     
          <td><a href="" class="btn btn-success" role="button" >Onayla</a> </td>
      </tr>
    <% end %>
</table>
</div>

<% end %>

  <tbody>
    <% @members.each do |member| %>
      <tr>

        <td><%= image_tag member.image.url(:medium) %></td>
        <td><%= member.cardId %></td>
        <td><%= member.email %></td>
        <td><%= member.name %></td>
        <td><%= member.lastname %></td>
        <td><%= member.confirm %></td>
        <td><%= member.useRate %></td>
        <td><%= member.inside %></td>
        <td><%= member.entryDate %></td>
        <td><%= member.memberDate %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
