<p id="notice"><%= notice %></p>

<div class="row">
  <% @members.each do |member| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag member.image.url(:medium), class: 'image'), member %>
        <div class="caption">
          <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= member.name %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= member.lastname %></td>
              </tr>
            </tbody>
          </table>
         </div>
      </div>
      </div>
    </div>
  <% end %>
</div>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Cardid</th>
      <th>Email</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Confirm</th>
      <th>Userate</th>
      <th>Inside</th>
      <th>Entrydate</th>
      <th>Memberdate</th>
      <th>Imagepath</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>

        <td><%= image_tag member.image.url(:medium) %></td>
        <td><%= member.cardId %></td>
        <td><%= member.email %></td>
        <td><%= member.name %></td>
        <td><%= member.lastname %></td>
        <td><%= member.confirm %></td>
        <td><%= member.useRate %></td>
        <td><%= member.inside %></td>
        <td><%= member.entryDate %></td>
        <td><%= member.memberDate %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
